/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
background: #FF7B2E; /* Old browsers */

}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(255,255,255,.5);
          box-shadow: inset 0 0 5rem rgba(255,255,255,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  margin-bottom:200px;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  margin-top:50px;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

.appstore-btn {
  width:124px;
  height:41px;
  background:url(./appstore-flat.png);
  background-size:100% 100%;
  display:block;
  margin:24px auto;
}

.bottom-footer {
  position:fixed;
  bottom:0;
  left:50%;
  margin-left:-105px;
  width:206px;
  padding:2px;
  border-radius: 2px;
  color:black;
  font-size:10px;
  text-shadow:none;
  color:white;
}

.bottom-footer p {
  margin:0;
}
/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

p {
  font-weight: 300;
  margin:24px;
}
/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(250,250,250,.75);
  padding:2px 4px;
  border-radius:2px;
}

.bottom-images {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  max-width:960px;
}

.img-responsive {
  max-width: 100%;
}

.logo {
  position:relative;
  top:-24px;
  display:block;
  margin:24px auto;
  max-width:125px;
}

.container {
  max-width:1000px;
}


/* mailchimp */
#mc_embed_signup {
  background:none!important;
    width:100%;
    max-width: 400px;
    margin: 0 auto;
  }

  #mc_embed_signup input {
    border-radius: 6px;
    margin:0;
    padding:18px 0;
    outline: none;
    border: none;
    color:#333;
    width:100%;
    max-width: 400px;
    letter-spacing:1px;
    font-size:16px;
  }

#mc_embed_signup input.email {
  width:100%;
    max-width: 400px;
    padding:14px 0;
        text-indent: 4%
}

  #mc_embed_signup input.register-btn {
    width:100%;
    max-width: 400px;
    display:block;
    color:#FF7B2E!important;
    background:#fff;
    font-weight: bolder;
    padding:12px 0;
    box-shadow:0 4px rgba(255,255,255,0.5);
  }
#mc_embed_signup input.register-btn:hover {
  cursor: pointer;
  opacity:0.8;
}
#mc_embed_signup .mc-field-group {
  margin-right:0;
  padding-right:0;
  width:100%;
}
/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {

  }
}
